<!DOCTYPE html>
<html>
  <head>
    <title>Login Failed</title>
    <style>
    /* Apply text in the middle of the paage */
    .center{
      text-align: center; 
    }
    </style>
  </head>
  <body>
    <div class="center">
      <br><br>
      <h1>Ups! LOGIN FAILED!</h1>
      <h3>Your login credentials are incorrect</h3>
      <h3>Please try again</h3>
      <br><br>
      <!-- Apply link to go back to the log in page -->
      <h3><a href="./login" style="color:blue">GO BACK TO LOGIN PAGE</a></h3>
      </div>
  </body>
</html>